<?xml version="1.0" encoding="UTF-8"?>
<odoo>
   
        <!-- Main Menu -->
        <menuitem id="ksba_menu" name="KSBA" sequence="10"/>

       
        
        <!-- Actions -->
        <record id="ksba_school_action" model="ir.actions.act_window">
            <field name="name">Schools</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">ksba.school</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record id="ksba_route_action" model="ir.actions.act_window">
            <field name="name">Manage Routes</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">ksba.route</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record id="ksba_stop_action" model="ir.actions.act_window">
            <field name="name">Manage Stops</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">ksba.stop</field>
            <field name="view_mode">tree,form</field>
        </record>

        <!-- Compile Actions -->
        <!-- <record id="action_ksba" model="ir.actions.act_window">
            <field name="name">KSBA Overview</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">ksba.school</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[]</field>
            <field name="context">{}</field>
        </record> -->

         <!-- Sub Menus -->
        <menuitem id="ksba_school_menuitem" name="Schools" parent="ksba_menu" action="ksba_school_action" sequence="20"/>
        <menuitem id="ksba_route_menuitem" name="Routes" parent="ksba_menu" action="ksba_route_action" sequence="30"/>
        <menuitem id="ksba_stop_menuitem" name="Stops" parent="ksba_menu" action="ksba_stop_action" sequence="40"/>
          <!-- <menuitem id="menu_ksba" name="KSBA" parent="base.menu_config"  action="action_ksba"/> -->
</odoo>
